## Stuff that should not be public
zzzYearSpecific/

## Old administrative stuff that does not need to be in the repo
zzzMaterials/

## R project info
.Rproj.user
.Rproj.user/*.*
.httr-oauth
.Rhistory
